@page "/about"

<PageTitle>About</PageTitle>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus velit eget neque pretium, at sollicitudin sapien feugiat. Nam sit amet enim aliquam massa commodo finibus vel nec metus. Curabitur sed mi auctor, viverra tortor et, volutpat lorem. Morbi odio mi, fermentum ut ultrices nec, pretium a nisl. Nulla condimentum risus eget purus convallis vulputate. Praesent nulla elit, maximus id mollis in, iaculis vitae turpis. Praesent ac ullamcorper velit. Cras malesuada posuere enim mollis dapibus.</p>